---
layout: default
title: Home Page
news:
- title: Big Sale 
  description: Exciting things are happening
  date: 2023-02-23
  category: promo 
  url: https://www.sale.com 
- title: New Offers 
  description: Holiday is just around the corner
  date: March 20 2023
  category: special offer  
  url: https://www.sale.com 
- title: Private Tour
  description: Make your memories for life 
  date: April 25th 2023
  category: exclusive package 
  url: https://www.sale.com 
  
my_variable: testimonial.html
---

<section class="grid-spaceBetween padded bg-featured latest-news">

    {% for item in page.news %} 
  <!-- First Card  1 -->
    <div class="col-4_xs-8 ">
        <div class="card"> 
        <div class="bg-image"> <span> {{item.category}} </span> </div>
        <div class="post-info">
            <p class="date"> {{item.date | date_to_string}} </p>
            <h3> {{item.title}} </h3>
            <p> {{item.description}} </p>
            <a href="{{item.url}}"> Find out more &nbsp; &#10095; </a>
        </div>
    </div>
    </div> 
    {% endfor %}

 
    
  </section> 

  <section class="padded">

    {% if page.my_variable %}
      {% include {{page.my_variable}} %}
    {% endif %}

</section>